.button {
    padding: .3rem .8rem;
    max-width: 141px;
    min-width: 80px;
    min-height: 48px;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    color: var(--white-color);
    background-color: var(--primary-color);
}
.button:hover{
    background-color: var(--light-primary-color);
}