.app-light{
  background-color: var(--light-secondary-color);
}

.app-dark{
  background-color: var(--midnight-color);
}

.main-content{
  position: relative;
  width: 1110px;
  margin:auto;
  display: grid;
  place-items: center;
}

.form{
	width: 100%;
	height: 80px;
	position: absolute;
	top: -40px;
	display: grid;
	/* grid-template-columns: 463px 300px 345px; */
	grid-template-columns: 41% 27% 31%;
	align-items: center;
	background-color: var(--white-color);
	border-radius: 6px;
}

.form-dark{
	background-color: var(--dark-color);
}

.form-light{
	background-color: var(--white-color);
}

.form-control{
	height: 100%;
	padding-left:32px;
	display: flex;
	align-items: center;
}


.form-control input[type="text"]:nth-child(2){
	width: 270px;
}

.form-control:nth-child(2){
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: var(--dark-gray-color);
}
.form-control:nth-child(3){
	display: flex;
	justify-content: space-around;
}

.form-control label {
	font-weight: 600;
	color: var(--midnight-color);
}

.app-dark .form-control label, .app-dark .form-control input[type="text"] {
	color: var(--white-color);
}

.filter-icon, .mobile-search-button{
	display: none;
}

.card-container{
	width: 100%;
	margin: 105px 0;
	display: grid;
	grid-template-columns: 32% 32% 32%;
	grid-template-rows: auto;
	min-height: 100vh;
	gap: 62px 1.857%;
}

.card-container .button {
	grid-column: 2/3;
	place-self: center;
}


@media screen and (max-width: 820px) {

	.form{
		grid-template-columns: 33% 30% 37%; 
	}
	.form-control{
		width: auto;
		padding-left: 22px;
	}
	.form-control input[type="text"]{
		max-width: 224px;
	}

	.form-control label {
		display: grid;
		place-items: center;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 70px;
		height: 25px;
	}

	.form-control:nth-child(3){
		grid-column: 3 / span 4;
	}

	.main-content{
		width: 689px;
	}

	.card-container {
		grid-template-columns: auto auto;
	}

	.card-container .button {
		grid-column: 1/3;
	}
}

@media screen and (max-width: 428px) {

	.app{
		width: 100%;
	}

	.main-content{
		width: 100%;
	}

	.card-container{
		display: flex;
		flex-direction: column;
	}

	.form{
		
		width: 327px;
		display: flex;
		padding-left: 16px;
		padding-right: 16px;
	}

	.form-control:nth-child(1){
		width: 100%;
		padding-left: 0;
		display: flex;
		justify-content: space-between;
	}

	.company-input{
		width: 171px !important;
	}

	.filter-icon{
		display: flex;
	}

	.mobile-search-button{
		width: 48px;
		height: 48px;
		display: grid;
		place-items: center;
		background-color: var(--primary-color);
	}

	.form-control:nth-child(2), .form-control:nth-child(3){
		display: none;
	}

	.mobile-search-button {
    	border-radius: 5px;
	}

	.search__icon path{
		stroke: #fff;
		fill: #fff;
	}


	.icon-button{
		background-color: #fff;
	}

	.filter__icon{
		background: #fff;
	}

	.dark .filter__icon{
		background: var(--midnight-color);
	}


	.modal {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 72px auto;
		box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
		border-radius: 6px;
		position: absolute;
		width: 327px;
		height: 217px;
		top: 50%;
		left: 24px;
		z-index: 20;
	}

	.modal-light{
		background-color: var(--white-color);
	}

	.modal-dark{
		background-color: var(--dark-color);
	}

	.modal-overlay{
		content: "";
		position: fixed;
		bottom: 0;
		top:0;
		left: 0;
		width: 100vw;
		background-color: rgba(0,0,0,0.5);
		z-index: 10;
	}

	.modal-form-control{
		padding: 24px;
	}

	.modal-form-control:nth-child(1){
		border-bottom: 1px solid var(--gray-color);
		display: flex;
		align-items: center;
	}

	.modal-form-control:nth-child(2){
		display: grid;
		grid-gap: 0 22px;
		grid-template-columns: 24px 240px;
		grid-template-rows: auto auto;
	}

	.modal-button{
		grid-column: 1 / -1;
		width: 100%;
		color: var(--white-color);
		background-color: var(--primary-color);
	}


}