.modal {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 72px auto;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  background-color: var(--white-color);
  border-radius: 6px;
  position: absolute;
  width: 327px;
  height: 217px;
  top: 225px;
  left: 24px;
  z-index: 10;
}


.overlay{
  content: "";
  position: fixed;
  bottom: 0;
  top:0;
  left: 0;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
}

.formControl{
  padding: 24px;
}

.formControl:nth-child(1){
  border-bottom: 1px solid var(--gray-color);
  display: flex;
  align-items: center;
}

.formControl:nth-child(2){
  display: grid;
  grid-gap: 0 22px;
  grid-template-columns: 24px 240px;
  grid-template-rows: auto auto;
}

.button{
  grid-column: 1 / -1;
  width: 100%;
  color: var(--white-color);
}