.app{
  min-height: 100vh;
  min-width: 100vw;
  width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-light{
  background-color: var(--light-secondary-color);
}

.app-dark{
  background-color: var(--midnight-color);
}

.main-content{
  position: relative;
  width: var(--container-width);
  margin:auto;
  display: grid;
  place-items: center;
}

.form{
	width: 100%;
	height: 80px;
	position: absolute;
	top: -40px;
	display: grid;
	grid-template-columns: 463px 300px 345px;
	align-items: center;
	background-color: var(--white-color);
	border-radius: 6px;
}

.form-control{
	height: 100%;
	padding-left:32px;
	display: flex;
	align-items: center;
}


.form-control input[type="text"]:nth-child(2){
	width: 270px;
}

.form-control:nth-child(2){
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: var(--gray-color);
}
.form-control:nth-child(3){
	display: flex;
	justify-content: space-around;
}

.form-control label {
	font-weight: 600;
	color: var(--midnight-color);
}

.card-container{
	width: var(---container-width);
	margin: 105px 0;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	gap: 65px 30px;
}

.card-container .button {
	grid-column: 2/3;
	place-self: center;
}