.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-light{
  background-color: var(--light-secondary-color);
}

.app-dark{
  background-color: var(--midnight-color);
}

.main-content{
  position: relative;
  width: var(--container-width);
  margin:auto;
  display: grid;
  place-items: center;
}

.form{
	width: 100%;
	height: 80px;
	position: absolute;
	top: -40px;
	display: grid;
	grid-template-columns: 463px 300px 345px;
	align-items: center;
	background-color: var(--white-color);
	border-radius: 6px;
}

.form-dark{
	background-color: var(--dark-color);
}

.form-light{
	background-color: var(--white-color);
}

.form-control{
	height: 100%;
	padding-left:32px;
	display: flex;
	align-items: center;
}


.form-control input[type="text"]:nth-child(2){
	width: 270px;
}

.form-control:nth-child(2){
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: var(--gray-color);
}
.form-control:nth-child(3){
	display: flex;
	justify-content: space-around;
}

.form-control label {
	font-weight: 600;
	color: var(--midnight-color);
}

.filter-icon, .mobile-search-button{
	display: none;
}

.card-container{
	width: var(---container-width);
	margin: 105px 0;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	gap: 65px 30px;
}

.card-container .button {
	grid-column: 2/3;
	place-self: center;
}


@media screen and (max-width: 768px) {

	.form{
		grid-template-columns: 224px 213px 252px;
	}
	.form-control{
		width: auto;
		padding-left: 22px;
	}
	.form-control input[type="text"]{
		max-width: 224px;
	}

	.form-control label {
		display: grid;
		place-items: center;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 70px;
		height: 25px;
	}

	.form-control:nth-child(3){
		grid-column: 3 / span 4;
	}

	.main-content{
		width: 689px;
	}

	.card-container {
		grid-template-columns: auto auto;
	}

	.card-container .button {
		grid-column: 1/3;
	}
}

@media screen and (max-width: 375px) {

	.app{
		width: 100%;
	}

	.main-content{
		width: 100%;
	}

	.card-container{
		display: flex;
		flex-direction: column;
	}

	.form{
		width: 327px;
		display: flex;
		padding-left: 16px;
		padding-right: 16px;
	}

	.form-control:nth-child(1){
		width: 100%;
		padding-left: 0;
		display: flex;
		justify-content: space-between;
	}

	.company-input{
		width: 171px !important;
	}

	.filter-icon{
		display: flex;
	}

	.mobile-search-button{
		width: 48px;
		height: 48px;
		display: grid;
		place-items: center;
		background-color: var(--primary-color);
	}

	.form-control:nth-child(2), .form-control:nth-child(3){
		display: none;
	}
}