
/*======================
    404 page
=======================*/


.page_404{ 
    width: 100vw;
    height: 100vh;
    padding:40px 0;
    background:#fff; 
    font-family: 'Kumbh Sans', sans-serif;
}

.page_404  img{ 
    width:100%;
}

.four_zero_four_bg{
 
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}
 
 
.four_zero_four_bg h1{
    color: var(--dark-color);
    font-size:80px;
    text-align: center;
    padding-bottom: 5rem;
}
 
.four_zero_four_bg h3{
    font-size:80px;
}
			 
.link_404{
    margin-top: 15px;
    display: grid;
    place-items: center;
}

.contant_box_404{ 
    margin-top:-50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}